.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    background-color: black;
}

.main-container {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    margin-bottom:50px;
}

.content-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    height: auto;
}

.left-photo, .right-photo {
    width: 100%;
    height: 100%;
}

.left-column,
.middle-column,
.right-column {
    flex: 3;
    text-align: center;
    height: fit-content;
    max-height: 500px;
    background-color: black;
}

.column-container {
    display: flex;
    flex-direction: row;
    background-color: black;
}

.middle-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.middle-photo {
    flex: 3;
}

.left-photo-img {
    overflow: hidden;
}

.photo-card {
    overflow: hidden;
}

.carousel-container {
    display: flex;
    justify-content: center;
    position: center;
    height: 100%;
    width: 100%;
    padding: 5px;
    align-items: center;
    background-color: black;
    max-height: 600px;
}

.carousel {
    position: relative;
    display: flex;
    height: 50%;
    width: auto;
    overflow:visible;
    border-radius: 0.5em;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
    max-height: 600px;
    min-height: 600px;
}

.carousel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5px;
    background-color: black;
    color: white;
    font-size: 2em;
    font-weight: bold;
    border-radius: 0.5em;
}

.carousel-divider {
    background-color: white; 
    width:100%;
    left: 0;
    right: 0;
}

.carousel-container {
    margin-bottom: 20px;
}

// Media Queries
@media screen and (max-width: 768px) {
    .carousel {
        height: 400px;
        flex-direction: column;
    }
    .content-container {
        flex-direction: column;
        width: 100vw;
    }

    .column-container {
        flex-direction: column;
    }

    .middle-column {
        width: 100%;
    }
    .carousel-container {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .main-container {
        align-items: flex-start;
        width: 100%;
    }

    .column-container {
        flex-direction: column;
    }

    .left-column,
    .middle-column,
    .right-column {
        flex: 1;
    }
}

