.app-container {
    background-color: black;
}

.container-content {
    background-color: black;
}

.container-content .mat-card {
    background-color: black;
}

.router {
    background-color: black;
}