<mat-toolbar color="primary">
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
    <div class="link-container">
    </div>

      <mat-icon>more_vert</mat-icon>
    </button> -->

  <a href="" class="logoContainer">
    <img class="logo" src="https://www.datocms-assets.com/58295/1721751841-adams-bomb-comedy-trans.png" alt="logo">
  </a>

  <div class="site-title">
    <h1 class="title-text"><a routerLink="">Adams Bomb Comedy Productions</a></h1>
  </div>

  <app-navigation></app-navigation>
  <!-- <button mat-button style="color: white" (click)="onLogin()">Login</button>
    <button mat-button style="color: white" (click)="onRegister()">Sign Up</button> -->
</mat-toolbar>