.white-icon {
    color: white;
}

.icon-embiggen {
    transform: scale(150%);
 }

 .desktop-nav-links {
    display: flex;
    gap: 5px; // Space between horizontal links
  
    button {
      color: white; // Ensure buttons in desktop nav are white
    }
  }