<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
  <mat-icon class="white-icon icon-embiggen">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-menu-item routerLink="shows">
    <mat-icon>event</mat-icon>
    <span>Shows</span>
  </button>
  <button mat-menu-item routerLink="comics">
    <mat-icon>person</mat-icon>
    <span>Comics</span>
  </button>
  <button mat-menu-item routerLink="clips">
    <mat-icon>movie</mat-icon>
    <span>Clips</span>
  </button>
  <button mat-menu-item routerLink="openmics">
    <mat-icon>event</mat-icon>
    <span>Open Mics</span>
  </button>
  <button mat-menu-item routerLink="podcast">
    <mat-icon>PodCast</mat-icon>
    <span>Podcast</span>
  </button>
  <button mat-menu-item routerLink="about">
    <mat-icon>info</mat-icon>
    <span>About Us</span>
  </button>
</mat-menu>