<mat-card class="column-container">
  <mat-card #rightColumn class="left-column">
    <mat-card-content class="photo-card">
      <img class="left-photo-img" src="https://www.datocms-assets.com/58295/1706228873-alax-home-screen.jpg"
        class="left-photo">
    </mat-card-content>
  </mat-card>
  <mat-card class="middle-column">
    <mat-card-content class="home-text-content">
      <p>Adams Bomb Comedy Production, founded by Adam Lax and Adam Coonen, put on comedy showcases and open mics
        throughout the Washington DC area. They and their shows have been profiled in a variety of local media outlets,
        including the Washingtonian, DC Fray, and Washington City Paper. They also have a podcast called Laughing
        Historically.</p>
    </mat-card-content>
  </mat-card>
  <mat-card #leftColumn class="right-column">
    <mat-card-content class="photo-card">
      <img src="https://www.datocms-assets.com/58295/1706234520-acoonen-home-screen.jpg" alt="Photo 3"
        class="right-photo">
    </mat-card-content>
  </mat-card>
</mat-card>