<footer class="footer">
  <ul class="social-media-links">
    <li>
      <a href="https://www.facebook.com/AdamsBombComedy" target="_blank" aria-label="Facebook">
        <i class="fab fa-facebook" alt="Facebook"></i>
      </a>
    </li>
    <!-- <li>
      <a href="https://www.twitter.com/yourprofile" target="_blank" aria-label="Twitter">
        <i class="fab fa-twitter" alt="Twitter"> </i>
      </a>
    </li> -->
    <li>
      <a href="https://www.youtube.com/channel/UCkRBld3ekGAPp6UsSRgzeIA" target="_blank" aria-label="YouTube">
        <i class="fab fa-youtube" alt="LinkedIn"> </i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/adamsbomb/?hl=en" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram" alt="Instagram"> </i>
      </a>
    </li>
  </ul>
  <p class="copyright">
    &copy; 2024 Adams' Bomb Comedy Productions. All rights reserved.
  </p>
  </footer>